@model CampusFleaMarket.Model.Users
@using (Html.BeginForm("Delete","usermanager",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
        </h4>
    </div>

    <div class="modal-body">
        @Html.Hidden("id",(int)ViewBag.id)
        <h3>你确定要删除【@(ViewBag.U_Name)】该用户吗？</h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            关闭
        </button>
        <button type="submit" class="btn btn-primary">
            删除
        </button>
    </div>
}
